{% extends 'base.html' %}

{% block title %}/ blog{% endblock %}

{% block content %}

{% for post in posts.items %}
	<article class="row">
		<div class="span11">
		
			<div>
			<p class="datetime">{{post.published|date:"F j, Y"}}</p>
			<span class="linked-list-permalink"><a href="/blog/post/{{post.id}}" rel="bookmark" title="permalink" class="glyph">&#8734;</a></span>
			</div>
			
			<div>
				<p>{{post.object.content|safe}}</p>
			</div>
			
			<div>
			{% for att in post.object.attachments %}
			
				<h5><a href={{att.url}}>{{att.displayName|safe}}</a></h5>
				
				{% if att.objectType == "photo" %}
				<img src="{{att.fullImage.url}}" />
				{% endif %}
				
				{% if att.objectType == "video" %}
				<embed height=300 width=500 src="{{att.url|cut:"&autoplay=1"}}" />
				{% endif %}
				
				{% if att.objectType == "article" %}
				<blockquote><p>{{att.content|safe}}</p></blockquote>
				{% endif %}
				
			{% endfor %}
			</div>
		</div>
	</article>
{% endfor %}
{% if form %}
<form method="POST" action="">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Older" />
</form>
{% endif %}

{% endblock %}