{% extends 'base.html' %}

{% block title %}/ blog{% endblock %}

{% block content %}

{% for post in posts.items %}
	<article class="row">
		<div class="span14">
			<div class="row container">
				<div class="span3 sidebar">
					<p>{{post.object.plusoners.totalItems|default:"No"}} +1{{post.object.plusoners.totalItems|pluralize}}<br/>{{post.object.resharers.totalItems|default:"No"}} share{{post.object.resharers.totalItems|pluralize}}<br/>{{post.object.replies.totalItems|default:"No"}} repl{{post.object.replies.totalItems|pluralize:"y,ies"}}</p>
				</div>
				<div class="span11">
					{% if post.type == "article" %}
					<div>
						<p class="datetime">{{post.published|date:"F j, Y"}}</p>
						<div>
							<h2>{{post.title}}</h2>
							<span class="linked-list-permalink"><a href="/blog/post/{{post.id}}" rel="bookmark" title="permalink" class="glyph">&#8734;</a></span>
						</div>
						<p>{{post.object.content|safe}}</p>
					</div>
					{% endif %}

					{% if post.type == "article" %}
					<div class="attachments">
					{% else %}
					<div>
					{% endif %}
					{% for att in post.object.attachments %}
						{% if post.type == "link" and forloop.first %}
						<p class="datetime">{{post.published|date:"F j, Y"}}</p>
						<div>
							<h2><a href={{att.url}}>{{att.displayName|safe}}</a></h2>
							<span class="linked-list-permalink"><a href="/blog/post/{{post.id}}" rel="bookmark" title="permalink" class="glyph">&#8734;</a></span>
						</div>
						{% else %}
						<h5><a href={{att.url}}>{{att.displayName|safe}}</a></h5>
						{% endif %}
						
						{% if att.objectType == "photo" %}
						<img src="{{att.fullImage.url}}" />
						{% endif %}
						
						{% if att.objectType == "video" %}
						<embed height=300 width=500 src="{{att.url|cut:"&autoplay=1"}}" />
						{% endif %}
						
						{% if att.objectType == "article" %}
						<blockquote><p>{{att.content|safe}}</p></blockquote>
						{% endif %}
						
					{% endfor %}
					</div>
					{% if post.type == "link" %}
					<div>
						<p>{{post.object.content|safe}}</p>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</article>
{% endfor %}
{% if form %}
<div class="row">
	<div class="offset3 span11">
	<form method="POST" action="">
	{% csrf_token %}
	{{form.as_p}}
	<input class="btn" type="submit" value="Older >" />
	</form>
	</div>
</div>
{% endif %}

{% endblock %}