{% autoescape off %}
{% for post in posts.items %}

	{% if forloop.first %}
		<p class="datetime">{{post.published|date:"F j, Y"}}</p>
		<h2><a href="/blog/post/{{post.id}}">{{post.title}}</a></h2>
		<p>{{post.object.content|safe|truncatewords:100}}</p>
		<p class="more"><a href="/blog/post/{{post.id}}">Read more</a></p>
		
		<h1>Recent Articles</h1>
		<ul class="unstyled" id="entry-list">
	{% else %}
		<li>
		<p class="datetime">{{post.published|date:"F j, Y"}}</p>
		<h2><a href="/blog/post/{{post.id}}">{{post.title}}</a></h2>
		</li>
	{% endif %}
		</ul>  
{% endfor %}
{% endautoescape %}