<html>
	<head>

	</head>
	<body>
		<h1> It worked! </h1>
		{% for post in posts %}
			<div><p>{{post.object.content|safe}}</p>
				{% for att in post.object.attachments %}
					<h2>{{att.displayName|safe}}</h2>
					{% if att.objectType == "photo" %}
					<img src="{{att.fullImage.url}}" />
					{% endif %}
					{% if att.objectType == "video" %}
					{{att.embed.url}}
					<embed src="{{att.embed.url}}" />
					{% endif %}
					{% if att.objectType == "article" %}
					<p>{{att.content|safe}}</p>
					{% endif %}
				{% endfor %}
			</div><br/>
		{% endfor %}
	</body>
</html>