{% extends 'base.html' %}

{% block header %}
	<script type="text/javascript" src="http://media.underlost.net/violetcode/js/jquery.lwtCountdown-1.0.js"></script>
{% endblock %}

{% block content %}

<div id="countdown_dashboard">
			<div class="dash weeks_dash">
				<span class="dash_title">weeks</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash days_dash">
				<span class="dash_title">days</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash hours_dash">
				<span class="dash_title">hours</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash minutes_dash">
				<span class="dash_title">minutes</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash seconds_dash">
				<span class="dash_title">seconds</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

		</div>

	<script language="javascript" type="text/javascript">
		jQuery(document).ready(function() {
			$('#countdown_dashboard').countDown({
				targetDate: {
					'day': 		19,
					'month': 	12,
					'year': 	2011,
					'hour': 	14,
					'min': 		15,
					'sec': 		0
				}
			});
		});
	</script>
	
{% endblock %}
